@import "./reset.css";



header div {
    margin: 20px 130px 10px;
}

.first-header {
    color: rgb(91, 159, 248);
}

.mid-header {
    color: rgb(231, 231, 234);
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.end-header {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(104, 103, 103);
    display: grid;
    place-items: center;
}

main {
    background-color: rgb(20, 22, 28);
    min-height: calc(100svh - 70px);
    display: grid;
    justify-content: center;
}

.input {
    background-color: rgb(32, 34, 41);
    width: 600px;
    height: 250px;
    color: #fff;
    padding: 15px;
}

form {
    background-color: rgb(32, 34, 41);
    height: 300px;
    display: grid;   
}

.area {
    margin-top: 30px;
    background-color: rgb(32, 34, 41);
    display: grid;
    justify-self: end;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.didi {
    color: white;
}

.post-btn {
    width: 70px;
    height: 35px;
    margin: 7px 12px;
    border-radius: 5px;
    justify-self: end;
}
